<div data-controller="patient-details" class="col-md-12">

    <div class="panel panel-primary">
    
        <div class="panel-heading">

            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Patient History Relative to Measures: <h2 data-patient-details-target="fullName"></h2></h3>
        
        </div>

        <div class="panel-body">
        
            <ul class="patient-details-ul">

                <li class="patient-details-li"><strong>Patient Id:</strong> <span data-patient-details-target="patientId"></span></li>

                <li class="patient-details-li"><strong>Gender:</strong> <span data-patient-details-target="gender"></span></li>

                <li class="patient-details-li"><strong>DOB:</strong> <span data-patient-details-target="dob"></span></li>

                <li class="patient-details-li"><strong>Race:</strong> <span data-patient-details-target="race"></span></li>

                <li class="patient-details-li"><strong>Ethnicity:</strong> <span data-patient-details-target="ethnicity"></span></li>

                <li class="patient-details-li"><strong>Languages:</strong> <span data-patient-details-target="language"></span></li>

                <li class="patient-details-li"><strong>Providers:</strong> <span data-patient-details-target="providers"></span></li>
            
            
            </ul>
        
        
        </div>


        <div class="panel-footer">
        
            <button type="button" class="btn btn-success" data-action="click->patient-details#backToDashboardDetails"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ></span> Back to Dashboard Details</button>
        
        </div>
    
    </div>



</div>