<div data-controller="providers" class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Provider NPI</th>
                <th>Provider Type</th>
                <th>Provider Extension</th>
                <th>Provider Name</th>
                <th>Tax Id</th>
                <th>Phone</th>
                <th>Team</th>
                <th>Practique Name</th>
                <th>ADMIN</th>
            </tr>
        </thead>
        <tbody data-providers-target="tableBody" class="provider-table"></tbody>
    </table>
</div>